.twitch-page {
  .twitch-avatar {
    width: 48px;
    height: 48px;
    border: 1px solid #FFDD5F;
  }

  .form-control {
    border-color: rgba(#FFDD5F, .5);
  }

  .article {
    min-width: 350px;
  }
}

.request-agree {
  display: none;
}
